hackaton.sympozjon.org {
    # Backend API - wszystkie requesty zaczynające się od /api
    handle /api/* {
        reverse_proxy app-backend:8080
        log {
            output file /var/log/caddy/backend_access.log
            format single_field common_log
        }
    }

    # Frontend - wszystko inne
    handle {
        reverse_proxy app-frontend:3000
        encode gzip
        log {
            output file /var/log/caddy/frontend_access.log
            format single_field common_log
        }
    }
}
